img {
  float:right; width:500px; height:600px;padding-right: 200px; padding-top: 70px;
  -webkit-filter: grayscale(0.5)
}

#fitness-table {
  border: 1px solid black;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px; font-style: normal; font-weight: 400; color: white;
}

li#PT{
  padding-bottom: 30px;
}

li#Contact{
  padding-top: 10px;
}
