#music-photo {
  float:right; width:640px; height:520px;padding-right: 100px; padding-top: 70px;
  -webkit-filter: grayscale(0.3)
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

p#video-one {
  padding-left: 95px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px; font-style: normal; font-weight: 400; color: white;
  padding-bottom: 210px;
}

p#video-two {
  padding-left: 95px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px; font-style: normal; font-weight: 400; color: white;
  padding-bottom: 130px;
}

p#video-three {
  padding-left: 95px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px; font-style: normal; font-weight: 400; color: white;
  padding-bottom: 240px;
}

p#video-four {
  padding-left: 95px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 17px; font-style: normal; font-weight: 400; color: white;
  padding-bottom: 130px;
}

li#PT{
  padding-bottom: 30px;
}

li#Contact{
  padding-top: 10px;
}

h2#videos {
  padding-top: 100px;
  padding-bottom: 50px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 25px; font-style: normal; font-variant: small-caps; font-weight: 400; color: white;
}

iframe {
  margin-left: 95px;
  margin-right: 95px;
}
